<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nombre"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PadelDAM"
        tools:targetApi="31">
        <activity
            android:name=".NuevaPala"
            android:exported="false" />
        <activity
            android:name=".AlquilerPalas"
            android:exported="false" />
        <activity
            android:name=".NuevasZapatillas"
            android:exported="false" />
        <activity
            android:name=".AlquilerZapatillas"
            android:exported="false" />
        <activity
            android:name=".NuevoBotePelotas"
            android:exported="false" />
        <activity
            android:name=".AlquilerPelotas"
            android:exported="false" />
        <activity
            android:name=".EditarCliente"
            android:exported="false" />
        <activity
            android:name=".Reservar"
            android:exported="false" />
        <activity
            android:name=".FechaYHora"
            android:exported="false" />
        <activity
            android:name=".nuevaPista"
            android:exported="false" />
        <activity
            android:name=".nuevoCliente"
            android:exported="false" />
        <activity
            android:name=".Alquiler"
            android:exported="false" />
        <activity
            android:name=".Pistas"
            android:exported="false" />
        <activity
            android:name=".Clientes"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>